  
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, PingFang,'Microsoft JhengHei';
    }
.container{
    width:clamp(100px,100%,700px);
    background-color:#FFDC18;
    padding-top: 35px;
    height: 100%;
    
}
p{
  font-size: 18px;
  color: #000;
}
a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  }
h1{
    width: 100%;
    background-color: #FFDC18;
}
h1 a{
    width: 100%;
    display: block;
}
h1 a img{
  width: 60%;
margin-left: 20%;
}

.banner {
  width: 100%;
  margin-top: 10px;
  }
.banner a {
  width: 100%;
  display: block;
}
.banner a img {
  width: 100%;
}


.block {
  background-color: #fff;
  width: 90%;
  margin-left: 5%;
  border-radius: 15px;
  margin-top: 20px;
  }
.teacher{
  margin-top: 0px;
}

  .content {
    /* width: 90%; */
    /* margin-left: 5%; */
    margin-top: 0%;
    padding: 41px 33px;
    background-color: #fff;
    border-radius: 15px;
}
h3 {
  font-size: 26px;
  color: #000;
  }


.teacher .info{
  color: #000;
}
.info{
  color:#414141;
}
.info span{
  color: #000;
  font-weight: bold;
}
.content p {
  margin-top: 16px;
  }

ul {
    margin-top: 16px;
    list-style-type: none;
}
li {
  line-height: 35px;
  font-size: 18px;
  color: #000;
  }
  li > span {
  color: #FFDC18;
   margin-right: 15px;
}

.btn-red {
  background-color: #E20D0D;
  width: 200px;
  height: 50px;
  border-radius: 7px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #fff;
  margin: auto;
  margin-top: 41px;
  }
.btn-red a{
  font-size: 25px;
}


h2 {
      text-align: center;
      font-size: 28px;
      margin: 60px auto 0 auto;
      color: #000;
  }
.first {
   text-align: center;
   font-size: 0;
 }

.content  .target{
  margin-top: 8px;
  font-size: 18px;
  background-color: #fff;
}
.first-info {
  background-color: #fff;
  }
 .first-info .info {
  margin-top: 0px;
  font-size: 15px;
}
 .btn-white {
  border: 1px solid #000;
  border-radius: 3px;
  width: max(60%,215px);
  margin: auto;
  height: 32px;
line-height: 32px;
margin-top: 25px;
background-color: #fff;
  }
  .btn-white a {
    color: #000;
    }

.signup-block {
      display: inline-block;
      width: 215px;
    height: 130px;
    margin-top: 20px;
    background-color: #fff;
  }
.signup {
  /* border-right: 1px solid #000; */
}
.signup-block > div {
  height: 33.6px;
width: 144.4px;
line-height: 33.6px;
border-radius: 4.8px;
  margin: auto;
  background-color: #000;
  margin-top: 20px;
  }
.signup-block > div >a{
    font-size: 16px;
  }

.second {
 text-align: center;
}
.info {
  color: #676767;
  }
  .second > .content > .info {
    margin-top: 8px;
    font-size: 15px;
    }
.result {
  margin-top: 34px;
  margin-bottom: 18.5px;
}
.result > p {
  margin-top: 0;
}
.result > .info {
  font-size: 15px;
}
.second-btn{
  width: 187px;
  height: 34.6px;
  line-height: 34.7px;
  margin: auto;
  background-color: #000;
  border-radius: 5px;
  margin-top: 32px;
  font-size: 16px;
}



  .footer {
    width: 100%;
    text-align: center;
    background-color: #000;
    padding-top: 53px;
    padding-bottom: 53px;
    margin-top: 82px;
}
.footer-content{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.footer-content > div {
  display: inline-block;
  width: 100%;
  }

.footer-logo> img {
  width: min(200px,45%);
  display: inline-block;
  vertical-align: middle;
  }
.icon {
    opacity: 0.5;
    margin-top: 30px;
}
.icon>a{
  width: 29px;
    vertical-align: middle;
display: inline-block;
margin: auto 15px;
}
.home,.fb,.shop {
  width: 77%;
  }
.fb {
  width: 100%;
  }